<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Picture Viewer</title>
<script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>



<script src='{{STATIC_URL}}js/spectrum.js'></script>
<script src='{{STATIC_URL}}js/ajaxsetup.js'></script>

<link rel='stylesheet' href='{{STATIC_URL}}css/spectrum.css' />
<link rel='stylesheet' href='{{STATIC_URL}}css/loader.css' />


<script>

    numcols=0//set when the window loads
    imgwidth=200
    counter=0//counts the number of images added so far
    pic_curr=0//the id of the image in focus
    console.log(pic_curr)
    crop = {}

    $(function(){
          pic_curr = 0
          document.focusedImage=0

    })

    $(function connect_websocket_pic(){

            //create websocket
            var web_socket = WS4Redis({
            uri:'{{WEBSOCKET_URI}}viewer?subscribe-broadcast&publish-broadcast&echo',
            //triggered when msg from server is sent
            receive_message: parseWebSkt,
            heartbeat_msg: {{WS4REDIS_HEARTBEAT}}

            });

            document.img_properties = new Array()

        }
    )

    //sets up form submission
    $(function form_submit_setup(){

        //on user submit
        $('#submit').on('click',
            function(event){

                  //allow for ajax
               event.preventDefault()


                //get all form attributes
               var inputs = $('#attr_form').find(':input')


               //array of user inputs
               var input_array = {}

               //put each one in an array
               inputs.each(function(){


                    input_array[this.name]=$(this).val()

               })

               var color
               if($("#palette").val()==""){
                 color ="0,0,0"
               }
               else{
                 color = $("#palette").val().substring($("#palette").val().indexOf("(")+1,$("#palette").val().indexOf(")"))
               }

               var lcolor
               if($("#lpalette").val()==""){
                 lcolor ="0,0,0"
               }
               else{
                 lcolor = $("#lpalette").val().substring($("#lpalette").val().indexOf("(")+1,$("#lpalette").val().indexOf(")"))
               }


                //if there attributes, send them
                if(input_array){
                  $.ajax({
                        url: "{% url 'attrform'%}",
                        type: "POST",
                        data: {"pk":pic_curr,"attr":input_array,'color':color,'lcolor':lcolor,'crop':crop},

                        }
                    )

                }

            }
        )

    })




    //handles picture received from websocket
    function parseWebSkt(response){
        //parse json server response

         var json_response = JSON.parse(response);


        if(json_response.hasOwnProperty("status") == true){

            if(json_response["status"] == "connection failed")
            {
                var drone_connect = document.getElementById("drone_connect")
                $("#drone_connect").val(Math.abs(drone_connect.value-1))
                $("#drone_connect").html("Drone Connect")
                alert("Failed To Connect To Drone")
            }

        }
        else if(json_response.hasOwnProperty("time") == true)
        {

                var text = document.getElementById("triggerLogs")

              text.value = json_response.time+"\n"+text.value
        }

        else if(json_response.hasOwnProperty("type") == true){

          if(json_response['type']== "picture"){

            var picture = JSON.parse(json_response.image.substring(json_response.image.indexOf("[")+1,json_response.image.indexOf(']')))


            var grid = document.getElementById('imagegrid');

            if (counter%numcols==0) {
                grid.appendChild(document.createElement("tr"));//adding a row
            }
            counter++;
            //finding the last row in the grid
            var rows = document.getElementsByTagName("tr");
            var row = rows[rows.length-1];
            //adding a column and the thumbnail
            var col = document.createElement("td");
            var img = document.createElement("img");

            //crab the image url

            var img_fields = picture.fields

            img.src= img_fields.fileName
            img.id=parseInt(picture.pk)

            document.img_properties[counter]= img_fields

            img.width=imgwidth;//scale the images so that they all have the same width
            img.addEventListener("click", function() {
                setFocusedImage(this);
                return false;
            });

            col.appendChild(img);
            row.appendChild(col);
          }
        }
    }

    window.onload = function(){

        $("#imagegrid").empty()

        //making the grid and viewer panels the height of the window
        //if the window height changes, the page has to be reloaded
        //when the window cannot fit the grid vertically, we can scroll through them
        var height = window.innerHeight;
        document.getElementById("left-panel").style.maxHeight=height+'px';
        document.getElementById("right-panel").style.maxHeight=height+'px';
        //calculating the number of columns in the grid based on the sizes of panels and thumbnails
        var width = document.getElementById("right-panel").clientWidth;
        imgwidth = 200;
        var colwidth=imgwidth+2*5//image width + padding on both sides (hardcoded)
        numcols=Math.trunc(width/colwidth);
        if (numcols==0) numcols++;

        //event listener for entire window (for keys)
        document.addEventListener("keyup", function(key){
            var space=32;
            var leftarrow = 37;
            var rightarrow = 39;
            var deletearrow = 46
            //http://stackoverflow.com/questions/2876275/what-are-the-ascii-values-of-up-down-left-right
            switch (key.keyCode) {
                case leftarrow:
                    //need to find the index of the current focused image, based on the id pic_curr
                    var gallery = document.getElementById("imagegrid").getElementsByTagName("img");
                    var currimage = document.getElementById(pic_curr);
                    var index = $.inArray(currimage, gallery);
                    index--;
                    if (index<0) break;//do nothing if there are no images before
                    currimage = gallery[index];//the new image
                    setFocusedImage(currimage);
                    break;
                case rightarrow:
                    //need to find the index of the current focused image, based on the id pic_curr
                    var gallery = document.getElementById("imagegrid").getElementsByTagName("img");
                    var currimage = document.getElementById(pic_curr);
                    var index = $.inArray(currimage, gallery);
                    index++;
                    if (index>=gallery.length) break;//do nothing if there are no images after
                    currimage = gallery[index];//the new image
                    setFocusedImage(currimage);
                    break;
                //deletes imagesz
                case deletearrow:
                    //ajax request to server to delete image with
                    //pic_curr as the picture object pk
                    $.ajax({
                        url:"{% url 'deletepic'%}",
                        type:"POST",
                        data: {"pk":pic_curr},
                    })
                    break

                default:
                    return;
            }
        });
        //document.focusedImage.onload = canvasinit();
    }

    //set the focusedImage to the given image, also changing the pic_curr, and initializes the canvas
    function setFocusedImage(image) {
        document.focusedImage.src=image.src;
        document.focusedImage.length = 400
        document.focusedImage.width =450
        pic_curr=image.id;
        canvasinit();//to resize the canvas and start a new crop
        //getting targets using the pk of the current image

        console.log(pic_curr)
        if(pic_curr>= document.img_properties.length){
            console.log("pic index too big")
        }
        else{
          var pic_curr_props = document.img_properties[pic_curr]
          document.getElementById('picture-data').value=""
          document.getElementById("picture-data").value+="Latitude: "+pic_curr_props.lat+"\n"
          document.getElementById("picture-data").value+="Longitude: "+pic_curr_props.lon+"\n"
          document.getElementById("picture-data").value+="Altitude:"+pic_curr_props.alt+"\n"
          document.getElementById("picture-data").value+="Azimuth:"+pic_curr_props.azimuth+"\n"
          document.getElementById("picture-data").value+="Pitch:"+pic_curr_props.pitch+"\n"
          document.getElementById("picture-data").value+="Roll:"+pic_curr_props.roll+"\n"

          //this hasn't been calculated yet
          //td.append("<p>Orientation: "+json_response.orientation+"</p>")
        }


        $.ajax({
          url: "{% url 'gettargets'%}",
          type: "POST",
          dataType: "json",
          data: {"pk": image.id},
          success: function(json) {
            console.log(json)
            if(json.hasOwnProperty("NoTargets")==true){
              console.log("no targets found")
              return;
            }

            td = $("#targets");
            td.empty();

            for (i in json) {
              var targetProps = json[i]
              image=document.createElement("img");
              image.src=targetProps.image;
              image.id=targetProps.pk;
              image.width=imgwidth;//so all the targets are shown as thumbnails
              image.addEventListener("click", function() {
                showTargetData(this);
                return false;
              })
              td.append(image);
            }
          }
        })
    }

    function showTargetData(image) {
      pk = image.id;
      console.log(pk)
      $.ajax({
        url: "{% url 'gettargetdata'%}",
        type: "POST",
        dataType: "json",
        data: {"pk": pk},
        success: function(json) {
          document.getElementById('current-target').value+=""
          document.getElementById("current-target").value+="Color: "+json.color+"\n"
          document.getElementById("current-target").value+="Letter Color: "+json.lcolor+"\n"
          document.getElementById("current-target").value+="Orientation: "+json.orientation+"\n"
          document.getElementById("current-target").value+="Shape: "+json.shape+"\n"
          document.getElementById("current-target").value+="Letter: "+json.letter+"\n"

        }
      })
    }

    //sets the canvas width and height and allows it to listen for cropping
    function canvasinit() {
        var p1;
        var p2;

        var cropinit;
        var corner=new Array();
        var boxW;
        var boxH;
        var xOff;
        var yOff;

        //finding the coordinates of the top left corner of the image, which must be subtracted from the coordinates of the mouse events to find the coordinates within the image
        var image_position = document.focusedImage.getBoundingClientRect();
        xOff=image_position.top;
        yOff=image_position.left;

        //set canvas to image params
        var canvas = $('#selector')[0];
        canvas.width=document.focusedImage.width;
        canvas.height=document.focusedImage.height;

        var ctx = canvas.getContext("2d");
        ctx.fillStyle="rgba(210,220,255,0.6)";

        //whether the cropping is taking place
        var cropinit=false;

        function setBox() {
            boxW=p1[0]-p2[0];
            boxH=p1[1]-p2[1];
            //finding the top left corner

            if (boxW<0) {
                corner[0]=p1[0];
                boxW=-boxW;
            }
            else {
                corner[0]=p2[0];
            }
            if (boxH<0) {
                corner[1]=p1[1];
                boxH=-boxH;
            }
            else {
                corner[1]=p2[1];
            }

            crop.corner = corner;
            crop.width = boxW;
            crop.height = boxH;
        }

        //the cropped section will not be resizeable after the user finishes, but the user can create a new cropped section
        canvas.addEventListener("mousedown", function setP1(event) {
            //allows you to find the height and width by imagining a rectangle around it
            //get bounding selector parameters
            p1=[event.clientX-xOff, event.clientY-yOff];
            cropinit=true;
        });
        //so that if the user releases the mouse after it leaves the canvas, the crop completes
        canvas.addEventListener("mouseleave", function() {
            cropinit=false;
        });
        canvas.addEventListener("mousemove", function drawBox(event) {
            if (cropinit) {
                p2=[event.clientX-xOff, event.clientY-yOff]
                setBox();
                ctx.clearRect(0,0,canvas.width,canvas.height);
                ctx.fillRect(corner[0],corner[1],boxW,boxH);
            }
        });
        canvas.addEventListener("mouseup", function finishBox(event) {
            p2=[event.clientX-xOff, event.clientY-yOff];
            setBox();
            ctx.clearRect(0,0,canvas.width,canvas.height);
            ctx.fillRect(corner[0],corner[1],boxW,boxH);
            cropinit=false;
        });
    }

</script>
</head>

<body>
    <div id="left-panel">
        <div id="container" style="cursor: crosshair;">
            <canvas id="selector" style="position: absolute; z-index: 1;"></canvas>
            <img src="" name="focusedImage" alt="" style="position: relative; z-index: 0;">
        </div>
        <textarea id="triggerLogs" cols=30>
        </textarea>
        <p id="descr">This is where image and target data could be displayed</p>
        <div class="data">
          <div class="datarow">
            <div class="datacol">
              <label for="picture-data">Picture Data</label>
              <textarea id="picture-data" rows =6></textarea>
            </div>
            <div class="datacol">
              <label for="current-target" rows =6>Current Target Data</label>
              <textarea id="current-target"></textarea>
            </div>
          </div>
        </div>


        <div id="targets"></div>

        {%csrf_token%}
        <form id="attr_form">
            <input name="color" type='text' id="palette"/>
            <input name="lcolor" type='text' id="lpalette"/>
            {{form.as_p}}
            <button type="button" id="submit"/>Submit</button>
        </form>



     </div>
     <div id="bottom">
         <form id="trigger_on_form">
            <input id="time_interval" type="text" value="0"/>
            <button onclick ="trigger();" name="trigger_on" type="button" id="trigger_on" value="1">Start Triggering</button>
        <form/>
        <button onclick="set_smart_trigger();" name="smart_trigger" type="button" id="smart_trigger" value="0">Smart Trigger on</button>
        <button onclick="droneConnect();" id = "drone_connect" type="button" value = "1">Drone Connect</button>

    </div>




    <div id="right-panel">
        <table id="imagegrid">
        </table>
        <!--Change this from a table to a list of images w/ automatic wrapping so that images can be easily deleted-->

    </div>
</body>

</html>

<script>

$(document).ready(function(){
//Colors: White, Black, Gray, Red, Blue, Green, Yellow, Purple, Brown, or Orange
    $("#palette").spectrum({
        showPaletteOnly: true,
        showPalette:true,
        color: 'black',
        palette: [
            ['black', 'white', 'gray', 'red', 'blue'],
            ['green', 'yellow', 'purple', 'brown', 'orange']
        ]
    });

});

$(document).ready(function(){
//Colors: White, Black, Gray, Red, Blue, Green, Yellow, Purple, Brown, or Orange
    $("#lpalette").spectrum({
        showPaletteOnly: true,
        showPalette:true,
        color: 'black',
        palette: [
            ['black', 'white', 'gray', 'red', 'blue'],
            ['green', 'yellow', 'purple', 'brown', 'orange']
        ]
    });

});

function droneConnect(){


    $.ajax({
        url:"{%url 'gcsconnect'%}",
        type:'POST',
        dataType: 'JSON',
        data: {"connect": $("#drone_connect").val(),},
        success: function(JSON){


            var drone_connect = document.getElementById("drone_connect")
            $("#drone_connect").val(Math.abs(drone_connect.value-1))

            if(drone_connect.value==0){
                $("#drone_connect").html("Drone Disconnect")
            }
            else{
                $("#drone_connect").html("Drone Connect")
            }

        }

    })
}

function set_smart_trigger(){


    var smart_trigger= document.getElementById("smart_trigger")

    $("#smart_trigger").val(Math.abs(smart_trigger.value-1))

    if(smart_trigger.value==false){
        $("#smart_trigger").html("Smart Triggering On")
    }
    else {
         $("#smart_trigger").html("Smart Triggering Off")
    }

}


function trigger(){
    console.log()
    $.ajax({

        url:"{%url 'gcstrigger' %}",
        type:'POST',
        dataType:'JSON',
        data:{"time":$("#time_interval").val(),"trigger":$("#trigger_on").val(),"smart_trigger":$("#smart_trigger").val()},
        success: function(json){


            if(json.hasOwnProperty("failure")==true){
                alert("Invalid Time Interval")
                return;
            }


            var time_int = document.getElementById("time_interval")
            time_int.value=0
            var trigger_on = document.getElementById("trigger_on")

            $("#trigger_on").val(Math.abs(trigger_on.value-1))

            if(trigger_on.value==0){
                $("#trigger_on").html("Stop Triggering")
            }
            else{
                $("#trigger_on").html("Start Triggering")
            }

        }

    })




}

</script>
