<!DOCTYPE html>
<html>
<head>
<title>Picture Viewer</title>
<script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

<script>
    var numcols=0;//set when the window loads
    var imgwidth=200;
    var counter=0;//counts the number of images added so far
    window.onload = function displaying(){
        //making the grid and viewer panels the height of the window
        //if the window height changes, the page has to be reloaded
        //when the window cannot fit the grid vertically, we can scroll through them
        var height = window.innerHeight;
        document.getElementById("left-panel").style.maxHeight=height+'px';
        document.getElementById("right-panel").style.maxHeight=height+'px';
        //calculating the number of columns in the grid based on the sizes of panels and thumbnails
        var width = document.getElementById("left-panel").clientWidth;
        imgwidth = 200;
        var colwidth=imgwidth+2*5//image width + padding on both sides (hardcoded)
        numcols=Math.trunc(width/colwidth);
        if (numcols==0) numcols++;
    }

    $(document).ready(function(){
        //create websocket
        var web_socket = WS4Redis({
            uri:'{{WEBSOCKET_URI}}viewer?subscribe-broadcast&publish-broadcast&echo',
            //triggered when msg from server is sent
            receive_message: getPic,
            heartbeat_msg: {{WS4REDIS_HEARTBEAT}}

         });
        function getPic(msg){
            //msg is the image source
            var grid = document.getElementById('imagegrid');
            counter++;
            if (c%numcols==0) {
                grid.appendChild(document.createElement("tr"));//adding a row
            }
            //finding the last row in the grid
            var rows = document.getElementsByTagName("tr");
            var row = rows[rows.length-1];
            //adding a column and the thumbnail
            var col = document.createElement("td");
            var img = document.createElement("img");
            img.src=msg;
            img.width=imgwidth;//scale the images so that they all have the same width
            //selecting the image shown in the viewer
            img.addEventListener("click", function() {
                document.focusedImage.src=this.src;
                return false;
            });
            col.appendChild(img);
            row.appendChild(col);
        };
    });
</script>
</head>

<body>
    <div id="left-panel">
        <table id="imagegrid">
        </table>
    </div>
    <div id="right-panel">
        <img src="./images/img1.png" name="focusedImage" alt="">
        <p>This is where image and target data could be displayed</p>
    </div>
</body>

</html>