
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
// using jQuery deals with CSRF token
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
};

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>

//ajax look for getting pics
<script>

function get_pic(pic_num){

    //ajax request for pic   
    $.ajax({
        url:'{% url "viewpics"%}',
        method: 'POST',
        async: true,
        data: {'pk':pic_num},   
        success: function(response){
            
            //if pic not none
            if(response.picture!="none"){
                alert("wow");
                $("#image_show").prepend('<img id="image" src'+response.picture+'" />');
                pic_num++;
            }
            get_pic(pic_num);
            
        },
        error: function(jqXHR, textStatus, errorThrown){
            alert(errorThrown);
        }


    });


};
$(document).ready(get_pic(0));
</script>
<head>
	<title>IMAGE VIEWER</title>
    <div id ="image_show">
    </div>

</head>
