html{
  font-family: "Helvetica", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 5px;
}
#left-panel
{        
    background-color:transparent;
    width:50%;
    float:left;
}
#right-panel
{        
    background-color:transparent;
    width:50%;
    float:left;
    overflow-y: scroll;
}
img {
  vertical-align: middle;
}

#attr_form
{
    position: fixed;

    margin-left: auto;
    top:400px;
    height:70px;
    width: 300px;
    border: 3px solid #8AC007;


}

#trigger_on_form
{
  position: fixed;
}
#smart_trigger
{
  position: fixed;
  top:500px;
  width: 500px;

}
