
html{
  font-family: "Helvetica", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin:0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  padding: 2px;
}
img {
  vertical-align: middle;
}
nav {
  height:50px;
}
nav .title {
  display:inline;
  float:left;
  font-size: 35px;
}
nav .form {
  display:inline;
  float:right;
}
nav form {
  display:inline-block;
}
/*set a max height for the following with JS*/
#left-panel {
  max-width:15%;
  display:inline-block;
  float:left;
  padding:5px;
}
#picture {
  max-width:70%;
  display:inline-block;
  float:left;
}
#targets {
  max-width:15%;
  display: inline-block;
  float: left;
  overflow-y:scroll;
  padding:5px;
}

#form {
  display:inline-block;
  float:left;
  margin:5px;
}
#data {
  display:inline-block;
  float:left;
  margin:5px;
  overflow-y:scroll;
}

#container {
  max-width:100%;
  max-height:100%;
  overflow:hidden;
}
#focusedImage {
  max-width:100%;
  max-height:100%;
  height:auto;
  margin:5px;
}

.thumb-div {
  display: inline-block;
  margin: 2px;
}
.thumbnail {
  max-width: 150px;
  max-height: 200px;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary {
  color:#fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
  background-color: #204d74;
  border-color: #122b40;
}
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
