bleach==1.5.0
cycler==0.10.0
Django==1.9
django-html-sanitizer==0.1.5
django-redis-cache==1.7.1
django-websocket-redis==0.4.7
djangorestframework==3.5.3
djangorestframework-jwt==1.9.0
gevent==1.1.2
greenlet==0.4.10
html5lib==0.9999999
matplotlib==1.5.3
numpy==1.11.2
pika==0.10.0
Pillow==3.4.2
psycopg2==2.6.2
pycrypto==2.6.1
PyJWT==1.4.2
pyparsing==2.1.10
python-dateutil==2.6.0
python-redis-lock==3.2.0
pytz==2016.10
redis==2.10.5
redis-structures==0.1.6
requests==2.12.3
six==1.10.0
vital-tools==0.1.7
