<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Picture Viewer</title>
<script type="text/javascript" src="{{STATIC_URL}}js/ws4redis.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajaxsetup.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootbox.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/spectrum.js"></script>


<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/spectrum.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />


<script>
	curr = 0; //the id of the picture/target in focus
	picview = true;//true when a picture is in view, false when a target is in view
	crop = {};
	NUM_FETCH = 3;
	image_cache = null; // caches the image strings
	next_array = null;
	firstinit = true;
	looping = null;
	said_no_pictures=false;

	(function(){
		// Convert array to object
		var convArrToObj = function(array){
				var thisEleObj = new Object();
				if(typeof array == "object"){
						for(var i in array){
								var thisEle = convArrToObj(array[i]);
								thisEleObj[i] = thisEle;
						}
				}else {
						thisEleObj = array;
				}
				return thisEleObj;
		};
		var oldJSONStringify = JSON.stringify;
		JSON.stringify = function(input){
				if(oldJSONStringify(input) == '[]')
						return oldJSONStringify(convArrToObj(input));
				else
						return oldJSONStringify(input);
		};
})();
//Array for holding pictures
function PictureArray(){
			var current; //current picture index
			var reversal; //reverse picture index
			var viewed;  //marker whether picture has been viewed or not



			//check if arguments exist to constructor
			if((args=arguments[0])){
				//for all arguments
				for(keys in args){
						switch (keys) {
							//set them accordingly
							case "current":
								current =args['current'];
								break;
							case "reversal":
								reversal = args['reversal'];
								break;
							case "viewed":
								viewed = args['viewed'];
								break;
								//insert images into cache
							default:
								if(args[keys].hasOwnProperty("image")==true){
									this.push(args[keys]);
								}
								break;
						}
				}
			}
			//if no constructor args, set defaults
			if(current==undefined){
				current = 0;
			}
			if(reversal == undefined){
				reversal = 0;
			}
			//set viewed array defaults
			if(viewed == undefined){
				viewed = (function(length){
					//mark the first as viewed, and the rest as not
						var localViewed = {};
						for(var i=0;i<length;i++){
								localViewed[i.toString()] = 0;
						};
						return localViewed;
				})(this.length);
			}
			//plus 1 to current
			this.upCurrent = function(){
					current++;
			}
			//minus 1 to current
			this.downCurrent = function(){
					current--;
			}
			//getter
			this.getCurrent = function(){
				return current;
			}
			//setter
			this.setCurrent = function(c){
				current = c;
			}
			//plus 1 reversal
			this.upReverse = function(r){
				reversal++;
			}
			//minus 1 reversal
			this.downReverse = function(){
				reversal--;
			}
			//setter
			this.setReverse =function(r){
				reversal = r;
			}
			//getter
			this.getReverse = function(){
				return reversal;
			}
			//mark a pic as viewed if not already
			this.viewedIt = function(){

				if(viewed[(current).toString()]==0){
					viewed[(current).toString()]=1;
				}

			}
			//getter
			this.getViewed = function(){
				return viewed;
			}

			//check if there is a replacement object
			this.swapArray = function(){
				//if there is one
				if(next_array!=null){
					//set the global cache
					image_cache = next_array;
					//mark the first pic as viewed
					image_cache.viewedIt();
					next_array = null;
					//set the focus
					image_cache.curr();
					return true;
				}
				//else there is not one
				return false;

			}

			this.serializePrep = function (){
				this.current = current;
				this.reversal = reversal;
				this.viewed = viewed;
			}
	}
	//give it array properties
	PictureArray.prototype = Array.prototype;

	//don't allow user to keep asking server for image
	PictureArray.prototype.allowForward = true;

	//this might not be necessary due to js being single-thread
	PictureArray.prototype.allow = true;

	//get next picture
	PictureArray.prototype.next = function(){
				//if a new array has arrived, lock these allow
				//the new array checks the current state
				//this might not be a problem since js is single threaded
				if(!PictureArray.prototype.allow){
					return;
				}

				if(this.getCurrent()+1 == this.length){
					if(this.swapArray()){
						return;
					}

					if(!PictureArray.prototype.allowForward){
						return;
					}
					PictureArray.prototype.allowForward = false;
					//request NUM_FETCH more and set new array
					forwardPicture();

					return;
				}
				//if next image is a past image (not in the array)
				else if(this.getCurrent()+1<0){
						//update current
						this.upCurrent();
						this.downReverse();
						//fetch it
						reversePicture(this.getReverse())
						return;
				}
				//if next image is in the array
				else if(this.getCurrent()+1>=0){
					//return next image
					  this.upCurrent();
						this.viewedIt();
						setFocusedImage(this[this.getCurrent()]);
						return;
				}
	}
	//returns previous image
	PictureArray.prototype.prev = function(){
		//if the prev image is the first one of out the array
		if(!PictureArray.prototype.allow){return;}
		if(this.getCurrent()-1 == -1){
				//update
				this.downCurrent();
				//this is the first image we don't have in the django user session stack
				this.setReverse(this.length);
				//ask for that image
				reversePicture(this.getReverse());
				return;
		}
		//if the prev image is not in the array
		else if(this.getCurrent()-1 < 0){
				//update
				this.downCurrent();
				//move back in user session stack
				this.upReverse();
				//ask for the image
				reversePicture(this.getReverse());
				return;
		}
		//else if the prev image is in the array
		else if(this.getCurrent()-1 >=0){
			this.downCurrent();
			//we have it, return it
				setFocusedImage(this[this.getCurrent()]);
				return;
		}
	}
	//jump to next new image
	PictureArray.prototype.jump = function(){
		if(!PictureArray.prototype.allow){return;}
		//find the last image we saw
		last = 0;
		var viewed = this.getViewed();
		for(key in viewed){
			if(viewed[key]==1){
				last = parseInt(key);
			}
		}
		//if we exhausted it
		if(last+1>=this.length){
			//check if there is an array pending
			if(this.swapArray()){
				return;
			}
			//if this was already called, don't allow it to call again
			if(!PictureArray.prototype.allowForward){
				return;
			}
			//lock forward fetching
			PictureArray.prototype.allowForward = false;
			//else grab a new one
			forwardPicture();
			return;
		}
		//else get the next image in the list
		else{
			//update current
			this.setCurrent(last+1);
			//mark the new one as viewed
			this.viewedIt();
			//set as focused
			setFocusedImage(this[this.getCurrent()]);
			return;
		}
	}
	//sets the current image marked in the list
	PictureArray.prototype.curr = function(){
		console.log(this.getCurrent());
		if(this.getCurrent()>=0){
			setFocusedImage(this[this.getCurrent()]);
		}
		else{
			reversePicture(this.getReverse());
		}
	}
	$(function connect_websocket_pic(){
			//create websocket
			var web_socket = WS4Redis({
			uri:"{{WEBSOCKET_URI}}viewer?subscribe-session",
			//triggered when msg from server is sent
			receive_message: parseWebSkt,
			heartbeat_msg: {{WS4REDIS_HEARTBEAT}}
			});
		}
	)
	//sets up form submission
	$(function form_submit_setup() {
		//on user submit
		$("#submit").on("click", function(event) {
			//allow for ajax
			event.preventDefault();
			//get all form attributes
			var inputs = $("#form").find(":input");
			//array of user inputs
			var input_array = {};
			//put each one in an array
			inputs.each(function() {
				console.log(this.value);
				if($("#id_ptype").find(":selected").text() != "QR Code"){
					if(this.name=="description"){
						return;
					}
					//this still keeps happening, value gets set to ""
					if((this.id=="palette" || this.id =="lpalette")&&this.value==""){
								this.value ="black";
					}
				}
				else if($("#id_ptype").find(":selected").text() == "QR Code"){
					if(this.name=="orientation"||this.name=="alphanumeric" || this.name == "alphanumeric_color" || this.name == "background_color" || this.name == "shape"){
						return;
					}
				}

				input_array[this.name] = this.value;
			});
			//if there attributes, send them
			if(input_array) {
				if (picview) {
					input_array['pk'] = curr;
					for(var key in crop){
						input_array[key] = crop[key];
					}
					//creating a new target
					$.ajax({
						url: "{% url 'gcs-targetCreate'%}",
						type: "POST",
						data: input_array,
						failure: function(response){
							bootbox.alert(response);
						}
					});
				}
				else {
					//editing the shown target
					input_array['pk'] = curr;
					$.ajax({
						url: "{% url 'gcs-targetEdit'%}",
						type: "POST",
						data: input_array,
						success: function(json){
							showTargetData($("#"+curr)[0]);
						}
					})
				}
			}
		})
	})
	//handles picture received from websocket
	function parseWebSkt(response){
		//parse json server response
		var json_response = JSON.parse(response);
		if (json_response.hasOwnProperty("disconnected")) {
			bootbox.alert("Android Device Disconnected");
		}
		else if (json_response.hasOwnProperty("connected")) {
			bootbox.alert("Android Device Connected");
		}

		else if (json_response.hasOwnProperty("triggering") && json_response["triggering"] == "true"){
			$("#trigger_on").html("Stop Triggering");
			document.getElementById("trigger_on").value = 0;
		}
		else if (json_response.hasOwnProperty("triggering") && json_response["triggering"] == "false"){
			$("#trigger_on").html("Start Triggering");
			document.getElementById("trigger_on").value = 1;
		}
		else if (json_response.hasOwnProperty("target") && json_response["target"] == "create") {
			var div = document.createElement("div");
			div.className = "thumb-div";
			image = document.createElement("img");
			image.className = "thumbnail";
			image.src = json_response.image;
			image.id = json_response.pk;
			image.addEventListener("click", function(e) {
				if (e.ctrlKey) {
					//ctrl+clicking to select/toggle targets to send
					pk = this.id;
					$("#"+pk).toggleClass("selected");
				}
				else {
					picview = false;
					setFocusedImage(this);
				}
				return false;
			});
			div.appendChild(image);
			$("#targets").append(div);
		}
		else if (json_response.hasOwnProperty("target") && json_response["target"] == "delete") {
			$("#"+json_response["pk"]).parent().remove();
			if(image_cache){
				picview=true;
				image_cache.curr();
				$("#back").hide();

			}
		}
		else if (json_response.hasOwnProperty("target") && json_response["target"] == "sent") {
			ids = JSON.parse(response).ids;
			ids.forEach(function(element) {
				$("#"+element).addClass("sent");
			})
		}
	}
	/*
	retrieve next NUM_FETCH pics
	*/
	function forwardPicture(){
				$.ajax({
					url:"{% url 'gcs-forwardPicture'%}",
					type: "POST",
					data: {'numPics': NUM_FETCH},
					success: function(response){
						PictureArray.prototype.allow = false;
						cache = new PictureArray(JSON.parse(JSON.stringify(response)));
						/*
						for(var i=0;i<response.length;i++){
									cache.push(response[i]);
						}
						*/
						if(image_cache==null || image_cache.getCurrent()+1==image_cache.length){
							image_cache = cache;
							image_cache.viewedIt();
							setFocusedImage(image_cache[0]);
						}
						else{
							 	console.log("cached");
								next_array = cache;

								next_array.serializePrep();

								window.sessionStorage.setItem("next_array",JSON.stringify(next_array));

						}
						said_no_pictures = false;
						PictureArray.prototype.allowForward=true;
						PictureArray.prototype.allow = true;

				}
			});
		}
		/*
		get a pic in the past if cache doesn't have it
		*/
	function reversePicture(index){
		$.ajax({
			url:"{% url 'gcs-reversePicture'%}",
			type: "POST",
			data: {'curPic': index},
			success: function(response){
				// if we received a response
				if(response.hasOwnProperty('type')==true){
					if(response['type']=='picture'){
						setFocusedImage(response);
					}
					//no more pics left to go back to
					else if(response['type'] == 'nopicture'){
						image_cache.upCurrent();
						image_cache.downReverse();
						if(!said_no_pictures){
							said_no_pictures=true;
							bootbox.alert("no more old pictures");
						}
						PictureArray.prototype.allow = true;
					}
				}
			}
		});
	}

	//wanna do some testing before I add this
	function loop(){
			looping = setInterval(function(){image_cache.next();},$("#loop_interval").val()*1000);
	}

	function stoploop(){
		clearTimeout(looping);
	}

	window.onload = function() {
		//making the panels the height of the window (excluding the navbar)
		//if the window height changes, the page has to be reloaded
		setDimensions();
		img = $("#focused");
		img.on("load", onLoad = function() {
			aspect_ratio = this.naturalWidth/this.naturalHeight;
			max_width = $("#picture").width();
			max_height = $("#picture").height();
			if (aspect_ratio*max_height>=max_width) {
				// width is constraining, must be kept at 100%
				document.focusedImage.style.height = "auto"
				document.focusedImage.style.width="100%"
			}
			else {
				document.focusedImage.style.height="100%"
				document.focusedImage.style.width = "auto"
			}
			canvasinit();
		})
		//if there is no state to restore
		if(window.sessionStorage.getItem("curr") ==null){
			//attempt to get a pic

			forwardPicture();

		}
		// else if there is a state to restore
		else{
		
			//restore state on refresh
			image_cache = new PictureArray(JSON.parse(window.sessionStorage.getItem("image_cache"))); //array of images
			if(window.sessionStorage.getItem("next_array")!=null&&window.sessionStorage.getItem("next_array")!="null"){

					next_array =  new PictureArray(JSON.parse(window.sessionStorage.getItem("next_array")));
			}
			else{
				next_array = null;
			}
			console.log(next_array);

			curr = window.sessionStorage.getItem("curr"); //current pic index
			//image_cache.current=window.sessionStorage.getItem("current"); //prototype current
			//image_cache.reverseval=window.sessionStorage.getItem("reverseval");//prototype reverseval
			//image_cache.viewed = JSON.parse(window.sessionStorage.getItem("viewed"));
			PictureArray.prototype.allow = true;
			PictureArray.prototype.allowForward = true;
			image_cache.curr();
		}
		//displaying existing targets
		$.ajax({
			url:"{% url 'gcs-getAllTargets' %}",
			type:"POST",
			success: function(response) {
				targets = JSON.parse(response).targets;
				targets.forEach(function(t) {
					var div = document.createElement("div");
					div.className = "thumb-div";
					image = document.createElement("img");
					image.className = "thumbnail";
					image.src = t.image;
					image.id = t.pk;
					if (t.sent) {
						image.className += " sent";
					}
					image.addEventListener("click", function(e) {
						if (e.ctrlKey) {
							//ctrl+clicking to select/toggle targets to send
							pk = this.id;
							$("#"+pk).toggleClass("selected");
						}
						else {
							picview = false;
							setFocusedImage(this);
						}
						return false;
					});
					div.appendChild(image);
					$("#targets").append(div);
				});
			}
		});

		//event listener for entire window (for keys)
		document.addEventListener("keyup", function(key) {
			var enter = 13;
			var leftarrow = 37;
			var rightarrow = 39;
			var del = 46;
			switch (key.keyCode) {
				case leftarrow:
					//asynchronously ask for next image and add it
					//since we might have to fetch it
					if(picview&&image_cache){
						image_cache.prev();
					}
					break;
				case rightarrow:
					//asynchronously ask for next image since
					if(picview&&image_cache){
					image_cache.next();
					}
					break;
				case enter:
					if(picview&&image_cache){
						image_cache.jump();
					}
					break;
				case del:
				//delete target
					if(!picview) {
						$.ajax({
							url:"{% url 'gcs-deleteTarget'%}",
							type:"POST",
							data: {"pk":curr},
						});
					}
					break;
			}
		});
	}
	function setDimensions() {
		var height = window.innerHeight - $("#navbar").height() - 35;
		$("#left-panel").css("height", height + "px");
		$("#picture").css("height", height + "px");
		$("#targets").css("height", height + "px");
	}
	//set the focusedImage to the given image, also changing the value of curr, and initializes the canvas
	function setFocusedImage(image) {
		//save all state data
		image_cache.serializePrep();
		window.sessionStorage.setItem("image_cache",JSON.stringify(image_cache)); //image array
		window.sessionStorage.setItem("curr",curr); // current pic id
		if(next_array != null && next_array!="null"){
			console.log(next_array);
			next_array.serializePrep();

			window.sessionStorage.setItem("next_array",JSON.stringify(next_array));

		}
		else{
			window.sessionStorage.setItem("next_array",null);
		}
		if (picview) {

			//window.sessionStorage.setItem("allow",PictureArray.prototype.allow);
			//window.sessionStorage.setItem("allowForward",PictureArray.prototype.allowForward);
			//window.sessionStorage.setItem("current",image_cache.current); // prototype current (index)
			//window.sessionStorage.setItem("reverseval",image_cache.reverseval); //protoype reverseval (reverse index)
			//window.sessionStorage.setItem("viewed",JSON.stringify(image_cache.viewed));

			curr = parseInt(image['pk']);
			image_data = image["image"];
			document.focusedImage.src=image_data['fileName'];
			$("#focus-type").text("Picture Data");
			pic_curr_props = image_data;//using the string id to access the data in the map
			$("#focus-data").empty()
				.append("<tr><td>Latitude</td><td>"+pic_curr_props.lat+"</td></tr>")
				.append("<tr><td>Longitude</td><td>"+pic_curr_props.lon+"</td></tr>")
				.append("<tr><td>Altitude</td><td>"+pic_curr_props.alt+"</td></tr>")
				.append("<tr><td>Azimuth</td><td>"+pic_curr_props.azimuth+"</td></tr>")
				.append("<tr><td>Pitch</td><td>"+pic_curr_props.pitch+"</td></tr>")
				.append("<tr><td>Roll</td><td>"+pic_curr_props.roll+"</td></tr>");
				//Add orientation
			PictureArray.prototype.allow = true;
		}
		else {
			$("#back").show();
			document.focusedImage.src=image.src;
			curr=parseInt(image.id);
			$("#selector").css("display","none");
			$("#focus-type").text("Target Data");
			showTargetData(image);
		}
	}

	function showTargetData(image) {
		pk = parseInt(image.id);
		$.ajax({
			url: "{% url 'gcs-getTargetData'%}",
			type: "POST",
			dataType: "json",
			data: {"pk": pk},
			success: function(json) {
				$("#focus-data").empty()
					.append("<tr><td>Shape</td><td>"+json.shape+"</td></tr>")
					.append("<tr><td>Letter</td><td>"+json.alphanumeric+"</td></tr>")
					.append("<tr><td>Color</td><td>"+json.background_color+"</td></tr>")
					.append("<tr><td>Letter Color</td><td>"+json.alphanumeric_color+"</td></tr>")
					.append("<tr><td>Orientation</td><td>"+json.orientation+"</td></tr>")
					.append("<tr><td>Latitude</td><td>"+json.latitude+"</td></tr>")
					.append("<tr><td>Longitude</td><td>"+json.longitude+"</td></tr>")
					.append("<tr><td>Type</td><td>"+json.ptype+"</td></tr>")
					.append("<tr><td>Description</td><td>"+json.description+"</td></tr>")
					.append("<tr><td><button id='targsubmit' onclick='tsubmit(" + pk+");' class='btn btn-primary'>Submit Target</button></td></tr>");
				$("#lpalette").val(json.alphanumeric_color);
				$("#palette").val(json.background_color);
				$("#orientation").val(json.orientation);
				$("#shape").val(json.shape);
				$("#alphanumeric").val(json.alphanumeric);
				$("#description").val(json.description);
			}
		})
	}

	function tsubmit(pk){
		console.log("submit")
		$.ajax({
			url:"{% url 'gcs-sendTarget'%}",
			type:"POST",
			data: {"pk":pk},
			success:function(resp){
				if (resp.hasOwnProperty('error')) {
					bootbox.alert("Submission Failure: "+resp['error']);
				}
				else {
					bootbox.alert("Target Submited");
				}
			}
		});

	}


	//sets the canvas width and height and allows it to listen for cropping
	function canvasinit() {
		if (picview) {
			var p1;
			var p2;
			var cropinit = false;
			var panning = true;
			var corner = [];
			var boxW;
			var boxH;
			var zoom = 5;
			//set canvas to image params
			var canvas = document.getElementById("selector");
			canvas.width = $("#focused").width();
			canvas.height = $("#focused").height();
			canvas.style.display = "block";
			var ctx = canvas.getContext("2d");

			ctx.fillStyle="rgba(210,220,255,0.6)";
			function setBox() {
				boxW = p1[0]-p2[0];
				boxH = p1[1]-p2[1];
				//finding the top left corner
				if (boxW<0) {
					corner[0] = p1[0];
					boxW = -boxW;
				}
				else {
					corner[0] = p2[0];
				}
				if (boxH<0) {
					corner[1] = p1[1];
					boxH = -boxH;
				}
				else {
					corner[1] = p2[1];
				}
				ctx.clearRect(0,0,canvas.width,canvas.height);
				ctx.fillRect(corner[0],corner[1],boxW,boxH);
			}
			function finalizeBox() {
				var transform = $("#focused").css("transform").replace("matrix(","").replace(")","").split(",");
				var scale = parseInt(transform[0]);
				var transx = parseInt(transform[4]);
				var transy = parseInt(transform[5]);
				var factor = parseInt((scale-1)/2);
				var width = $("#focused").width();
				var height = $("#focused").height()
				crop.x = parseInt((width*factor + corner[0]-transx)/scale);
				crop.y = parseInt((height*factor + corner[1]-transy)/scale);
				crop.width = parseInt(boxW/scale);
				crop.height = parseInt(boxH/scale);
				crop.scaleWidth = width;
				//console.log("crop "+crop.x+" "+crop.y+" "+crop.width+" "+crop.height+" "+crop.scaleWidth+" "+height)
			}
			if (firstinit) {
				firstinit = false;
				canvas.addEventListener("dblclick", function toggle(event) {
					panning = !panning;
					cropinit = false;
					//console.log("dblclick "+panning+" "+cropinit);
				});
				canvas.addEventListener("mousedown", function setP1(event) {
					if (!panning) {
						p1 = [event.layerX, event.layerY];
						cropinit = true;
					}
					//console.log("mousedown "+panning+" "+cropinit);
				});
				//so that if the user releases the mouse after it leaves the canvas, the crop completes
				canvas.addEventListener("mouseleave", function() {
					if (panning) {
						$("#focused").css("transform", "scale(1,1)");
					}
					else {
						finalizeBox();
						cropinit = false;
					}
					//console.log("mouseleave "+panning+" "+cropinit);
				});
				canvas.addEventListener("mousemove", function drawBox(event) {
					if (panning) {
						var tx = this.width/2 - event.layerX; //canvas has the same width and height as the image
						if (tx < -1*(zoom-1)*this.width/(zoom*2)) tx = -1*(zoom-1)*this.width/(zoom*2);
						if (tx > (zoom-1)*this.width/(zoom*2)) tx = (zoom-1)*this.width/(zoom*2);
						var ty = this.height/2 - event.layerY;
						if (ty < -1*(zoom-1)*this.height/(zoom*2)) ty = -1*(zoom-1)*this.height/(zoom*2);
						if (ty > (zoom-1)*this.height/(zoom*2)) ty = (zoom-1)*this.height/(zoom*2);
						$("#focused").css("transform", "scale(" + zoom + "," + zoom + ") translate("+tx+"px,"+ty+"px)");
					}
					else if (cropinit) {
						p2 = [event.layerX, event.layerY];
						setBox();
					}
					//console.log("mousemove "+panning+" "+cropinit);
				});
				canvas.addEventListener("mouseup", function finishBox(event) {
					if (cropinit) {
						p2=[event.layerX, event.layerY];
						setBox();
						finalizeBox();
						cropinit = false;
					}
					//console.log("mouseup "+panning+" "+cropinit);
				});
			}
			else {
				$("#focused").css("transform", "scale(1,1)");
				panning = true;
				cropinit = false;
			}
		}
	}
	//clear storage on logout to avoid attempting to grab
	//a non-existant image on login
	$(function(){
		$("#logoutfm").submit(function(){
			window.sessionStorage.clear();
		});
	});

	function backToPictures(){
		if(image_cache){
			picview = true;
			image_cache.curr();
		}
		$("#back").hide();
	}

function dump_targets() {
	var selected = $("img.selected[id]").map(function() {return this.id;}).get();
	if (selected==null || selected.length==0) {
		return
	}
	$.ajax({
		url:"{%url 'gcs-dumpTargetData' %}",
		type:"POST",
		data:{'ids':JSON.stringify(selected)},
		success: function(response) {
			window.open('data:text/plain;charset=utf-8,'+encodeURIComponent(response.data))
		}
	});
	//deselecting targets
	$("img.selected").removeClass("selected");
}

function interop_login() {
	window.open('/interoplogin')
}
//enable and disable picture looping fct
$(function(){
	$("#loopbtn").on("click",function loophandler(){
		//if not enabled
		if($(this).val()==1){
			//enable
			loop();
			$(this).html("stop loop");
			this.value=0;
		}
		//if enabled
		else{
			//disable
			stoploop();
			$(this).html("loop");
		  this.value=1;
		}
	});

	$("#id_description").css("display","none");
	$("label[for='id_description']").css("display","none");
	//reformat target form for qr code, qr code doesn't need shape,color ...
	$("#id_ptype").on("change",function(){

			if($(this).find(":selected").text() != "QR Code"){
				console.log("not qrc");
				$("#bkcolor").css("display","");
				$("#ltcolor").css("display","");
				$("#id_alphanumeric").css("display","");
				$("label[for='id_alphanumeric']").css("display","");
				$("#id_orientation").css("display","");
				$("label[for='id_orientation']").css("display","");
				$("#id_shape").css("display","");
				$("label[for='id_shape']").css("display","");
				$("#id_description").css("display","none");
				$("label[for='id_description']").css("display","none");




			}
			else if($(this).find(":selected").text()=="QR Code"){
				$("#bkcolor").css("display","none");
				$("#ltcolor").css("display","none");
				$("#id_alphanumeric").css("display","none");
				$("label[for='id_alphanumeric']").css("display","none");
				$("#id_orientation").css("display","none");
				$("label[for='id_orientation']").css("display","none");
				$("#id_shape").css("display","none");
				$("label[for='id_shape']").css("display","none");
				$("#id_description").css("display","");
				$("label[for='id_description']").css("display","");






			}



	});

});


</script>
</head>

<body>

	<nav id="navbar">
		<div class="title">RU Autonomous</div>
		<div class="form">
			<form>
				<label for="time_interval">Trigger Time</label>
				<input id="time_interval" type="text" value="0"/>
				<button onclick="trigger();" class ="btn btn-primary" name="trigger_on" type="button" id="trigger_on" value="1">Start Triggering</button>
				<!--<button onlick="interop_login();return false;" class="btn btn-primary">Interop Login</button>-->
				<input id="loop_interval" type="text" value="3"/>
				<button id="loopbtn"  type="button" value=1 class="btn btn-primary">Loop</button>
				<button id ="dump" onclick="dump_targets();return false;" class="btn btn-primary">Dump Target Data</button>
				<button onclick="backToPictures();return false;" style="display:none" id="back" class="btn btn-primary">Back</button>
				<!--<button onclick="set_smart_trigger();" class="btn btn-primary" name="smart_trigger" type="button" id="smart_trigger" value="0">Smart Trigger on</button>-->

			</form>
			<form method="post" id="logoutfm" action="{% url 'gcs-logout'%}?next={% url 'gcs-login'%}">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary">Logout</button>
			</form>
		</div>
	</nav>
	<div id="left-panel">
		<div id="form">
			{% csrf_token %}
			<form id="attr_form">
				<table>
					{{form.as_table}}
					<tr id ="bkcolor">
						<th><label for="palette">Background Color</label></th>
						<td><input name="background_color" value="black" type="text" id="palette"/></td>
					</tr>
					<tr id="ltcolor">
						<th><label for="lpalette">Letter Color</label></th>
						<td><input name="alphanumeric_color" type="text" value="black" id="lpalette"/></td>
					</tr>

				</table>
				<button type="button" class="btn btn-primary" id="submit"/>Submit</button>
			</form>
		</div>
		<div id="data">
			<h3 id="focus-type">Picture Data</h3>
			<table id="focus-data"></table>
		</div>
	</div>


	<div id="picture">
		<div id="container">
			<canvas id="selector" style="position: absolute; z-index: 1; cursor: crosshair;"></canvas>
			<img src="" id="focused" name="focusedImage" alt="" style="position: relative; z-index: 0;">
 	</div>
	</div>
	<div id="targets"></div>

</body>


</html>

<script>
$(document).ready(function(){
	//Colors: White, Black, Gray, Red, Blue, Green, Yellow, Purple, Brown, or Orange
	$("#palette").spectrum({
		preferredFormat: "name",
		showPaletteOnly: true,
		showPalette:true,
		color: "black",
		palette: [
				["black", "white", "gray", "red", "blue"],
				["green", "yellow", "purple", "brown", "orange"]
		]
	});
});
$(document).ready(function(){
	$("#lpalette").spectrum({
		preferredFormat: "name",
		showPaletteOnly: true,
		showPalette:true,
		color: "black",
		palette: [
			["black", "white", "gray", "red", "blue"],
			["green", "yellow", "purple", "brown", "orange"]
		]
	});
});
function set_smart_trigger(){
	var smart_trigger= document.getElementById("smart_trigger")
	$("#smart_trigger").val(Math.abs(smart_trigger.value-1))
	if(smart_trigger.value==false){
		$("#smart_trigger").html("Smart Triggering On")
	}
	else {
		$("#smart_trigger").html("Smart Triggering Off")
	}
}
function trigger() {
	$.ajax({
		url:"{%url 'gcs-cameraTrigger' %}",
		type:"POST",
		dataType:"JSON",
		data:{"time":$("#time_interval").val(),"trigger":$("#trigger_on").val(),"smart_trigger":$("#smart_trigger").val()},
		success: function(json) {
			if (json.hasOwnProperty("failure")) {
				bootbox.alert("Invalid Time Interval")
				return;
			}
			if (json.hasOwnProperty("nothing")) {
				return;
			}
			var time_int = document.getElementById("time_interval");
			time_int.value=0;
			var trigger_on = document.getElementById("trigger_on");
			$("#trigger_on").val(Math.abs(trigger_on.value-1));
			if (trigger_on.value==0) {
				$("#trigger_on").html("Stop Triggering");
			}
			else {
				$("#trigger_on").html("Start Triggering");
			}
		}
	})
}
</script>
