<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Picture Viewer</title>
<script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajaxsetup.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootbox.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/spectrum.js"></script>


<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/spectrum.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />


<script>
	curr = 0; //the id of the picture/target in focus
	picview = true;//true when a picture is in view, false when a target is in view
	img_properties = {}; //now using an object as a map since the images are not sent down in order
	crop = {};
	NUM_FETCH = 3;
	image_cache = null; // caches the image strings
	firstinit = true;

	(function(){
		// Convert array to object
		var convArrToObj = function(array){
				var thisEleObj = new Object();
				if(typeof array == "object"){
						for(var i in array){
								var thisEle = convArrToObj(array[i]);
								thisEleObj[i] = thisEle;
						}
				}else {
						thisEleObj = array;
				}
				return thisEleObj;
		};
		var oldJSONStringify = JSON.stringify;
		JSON.stringify = function(input){
				if(oldJSONStringify(input) == '[]')
						return oldJSONStringify(convArrToObj(input));
				else
						return oldJSONStringify(input);
		};
})();
//Array for holding pictures
function PictureArray(){
			if((args=arguments[0])){
				for(keys in args){
						switch (keys) {
							case "current":
								this.current =args['current'];
								break;
							case "reversal":
								this.reversal = args['reversal'];
								break;
							case "viewed":
								this.viewed = args['viewed'];
								break;
							default:
								if(args[keys].hasOwnProperty("image")==true){
									this[keys] = args[keys];
								}
								break;
						}
				}
			}
			if(this.current==undefined){
				this.current = 0;
			}
			if(this.reversal == undefined){
				this.reversal = 0;
			}
			if(this.viewed == undefined){
				this.viewed = (function(){
						var viewed = {'0':1};
						for(var i=1;i<NUM_FETCH;i++){
								viewed[i.toString()] = 0;
						};
						return viewed;
				})();
			}
			//plus 1 to current
			this.upCurrent = function(){
					this.current++;
			}
			//minus 1 to current
			this.downCurrent = function(){
					this.current--;
			}
			//getter
			this.getCurrent = function(){
				return this.current;
			}
			//setter
			this.setCurrent = function(c){
				this.current = c;
			}
			//plus 1 reversal
			this.upReverse = function(r){
				this.reversal++;
			}
			//minus 1 reversal
			this.downReverse = function(){
				this.reversal--;
			}
			//setter
			this.setReverse =function(r){
				this.reversal = r;
			}
			//getter
			this.getReverse = function(){
				return this.reversal;
			}
			//mark a pic as viewed if not already
			this.viewedIt = function(){
				if(this.viewed[(this.current+1).toString()]==0){
					this.viewed[(this.current+1).toString()]=1;
				}
			}
			//getter
			this.getViewed = function(){
				return this.viewed;
			}
	}
	//give it array properties
	PictureArray.prototype = Array.prototype;
	//lock from prototypes from being recalled
	PictureArray.prototype.allow = false;
	//get next picture
	PictureArray.prototype.next = function(){
			if(!PictureArray.prototype.allow){
				return;
			}
			PictureArray.prototype.allow = false;
				if(this.getCurrent()+1 == this.length){
					//request NUM_FETCH more and set new array
					forwardPicture();
					return;
				}
				//if next image is a past image (not in the array)
				else if(this.getCurrent()+1<0){
						//update current
						this.upCurrent();
						this.downReverse();
						//fetch it
						reversePicture(this.getReverse())
						return;
				}
				//if next image is in the array
				else if(this.getCurrent()+1>=0){
					//return next image
						this.viewedIt();
						this.upCurrent();
						setFocusedImage(this[this.getCurrent()]);
						return;
				}
	}
	//returns previous image
	PictureArray.prototype.prev = function(){
		//if the prev image is the first one of out the array
		if(!PictureArray.prototype.allow){return;}
		PictureArray.prototype.allow = false;
		if(this.getCurrent()-1 == -1){
				//update
				this.downCurrent();
				//this is the first image we don't have in the django user session stack
				this.setReverse(this.length);
				//ask for that image
				reversePicture(this.getReverse());
				return;
		}
		//if the prev image is not in the array
		else if(this.getCurrent()-1 < 0){
				//update
				this.downCurrent();
				//move back in user session stack
				this.upReverse();
				//ask for the image
				reversePicture(this.getReverse());
				return;
		}
		//else if the prev image is in the array
		else if(this.getCurrent()-1 >=0){
			this.downCurrent();
			//we have it, return it
				setFocusedImage(this[this.getCurrent()]);
				return;
		}
	}
	//jump to next new image
	PictureArray.prototype.jump = function(){
		if(!PictureArray.prototype.allow){return;}
		PictureArray.prototype.allow = false;
		//find the last image we saw
		last = 0;
		for(key in this.getViewed()){
			if(this.viewed[key]==1){
				last = parseInt(key);
			}
		}
		//if we exhausted it
		if(last+1>=this.length){
			forwardPicture();
			return;
		}
		//else get the next image in the list
		else{
			this.setCurrent(last+1);
			this.viewedIt();
			setFocusedImage(this[this.getCurrent()]);
			PictureArray.prototype.allow = true;
			return;
		}
	}
	//sets the current image marked in the list
	PictureArray.prototype.curr = function(){
		if(!PictureArray.prototype.allow){return;}
		PictureArray.prototype.allow = false;
		if(this.getCurrent()>=0){
			setFocusedImage(this[this.getCurrent()]);
			PictureArray.prototype.allow = true;
		}
		else{
			reversePicture(this.getReverse());
		}
	}
	$(function connect_websocket_pic(){
			//create websocket
			var web_socket = WS4Redis({
			uri:"{{WEBSOCKET_URI}}viewer?subscribe-session",
			//triggered when msg from server is sent
			receive_message: parseWebSkt,
			heartbeat_msg: {{WS4REDIS_HEARTBEAT}}
			});
		}
	)
	//sets up form submission
	$(function form_submit_setup() {
		//on user submit
		$("#submit").on("click", function(event) {
			//allow for ajax
			event.preventDefault();
			//get all form attributes
			var inputs = $("#form").find(":input");
			//array of user inputs
			var input_array = {};
			//put each one in an array
			inputs.each(function() {
				if (this.name=="color" || this.name=="lcolor") {
					if (this.value=="" ) {
						input_array[this.name] = "0, 0, 0";
					}
					else if(this.value.indexOf("(") == -1){
						input_array[this.name] = this.value;
					}
					else {
						input_array[this.name] = this.value.substring(this.value.indexOf("(")+1,this.value.indexOf(")"));
					}
				}
				else {
					input_array[this.name] = this.value;
				}
			})
				//if there attributes, send them
			if(input_array) {
				if (picview) {
					input_array['pk'] = curr;
					for(var key in crop){
						input_array[key] = crop[key];
					}
					//creating a new target
					$.ajax({
						url: "{% url 'gcs-targetCreate'%}",
						type: "POST",
						data: input_array,
						success: function(json){
							//adding the target image
							var div = document.createElement("div");
							div.className = "thumb-div";
							image = document.createElement("img");
							image.className = "thumbnail";
							image.src = json.image;
							image.id = json.pk;
							image.addEventListener("click", function() {
								picview = false;
								setFocusedImage(this);
								return false;
							})
							div.appendChild(image);
							$("#targets").append(div);
						}
					});
				}
				else {
					//editing the shown target
					input_array['pk'] = curr;
					$.ajax({
						url: "{% url 'gcs-targetEdit'%}",
						type: "POST",
						data: input_array,
						success: function(json){
							showTargetData($("#"+curr)[0]);
						}
					})
				}
			}
		})
	})
	//handles picture received from websocket
	function parseWebSkt(response){
		//parse json server response
		var json_response = JSON.parse(response);
		if (json_response.hasOwnProperty("disconnected")) {
			bootbox.alert("Android Device Disconnected");
		}
		else if (json_response.hasOwnProperty("connected")) {
			bootbox.alert("Android Device Connected");
		}
		else if (json_response.hasOwnProperty("triggering") && json_response["triggering"] == "true"){
			$("#trigger_on").html("Stop Triggering");
			document.getElementById("trigger_on").value = 0;
		}
		else if (json_response.hasOwnProperty("triggering") && json_response["triggering"] == "false"){
			$("#trigger_on").html("Start Triggering");
			document.getElementById("trigger_on").value = 1;
		}
	}
	/*
	retrieve next NUM_FETCH pics
	*/
	function forwardPicture(){
				$.ajax({
					url:"{% url 'gcs-forwardPicture'%}",
					type: "POST",
					data: {'numPics': NUM_FETCH},
					success: function(response){
						image_cache = new PictureArray();
						for(var i=0;i<response.length;i++){
									image_cache.push(response[i]);
						}
						setFocusedImage(image_cache[0]);
				}
			});
		}
		/*
		get a pic in the past if cache doesn't have it
		*/
	function reversePicture(index){
		$.ajax({
			url:"{% url 'gcs-reversePicture'%}",
			type: "POST",
			data: {'curPic': index},
			success: function(response){
				// if we received a response
				if(response.hasOwnProperty('type')==true){
					if(response['type']=='picture'){
						setFocusedImage(response);
					}
					//no more pics left to go back to
					else if(response['type'] == 'nopicture'){
						image_cache.upCurrent();
						image_cache.downReverse();
						bootbox.alert("no more old pictures");
						PictureArray.prototype.allow = true;
					}
				}
			}
		});
	}
/*
	//wanna do some testing before I add this
	function loop(){
		while(looping){
			image_cache.next();
			setTimeout(function(){},3000);
		}
	}*/
	window.onload = function() {
		//making the panels the height of the window (excluding the navbar)
		//if the window height changes, the page has to be reloaded
		setDimensions();
		//if there is no state to restore
		if(window.sessionStorage.getItem("curr") ==null){
			//attempt to get a pic
			forwardPicture();
		}
		// else if there is a state to restore
		else{
			//restore state on refresh
			image_cache = new PictureArray(JSON.parse(window.sessionStorage.getItem("image_cache"))); //array of images
			curr = window.sessionStorage.getItem("curr"); //current pic index
			//image_cache.current=window.sessionStorage.getItem("current"); //prototype current
			//image_cache.reverseval=window.sessionStorage.getItem("reverseval");//prototype reverseval
			//image_cache.viewed = JSON.parse(window.sessionStorage.getItem("viewed"));
			PictureArray.prototype.allow = true;
			image_cache.curr();
		}
		//event listener for entire window (for keys)
		 document.addEventListener("keyup", function(key) {
			 var enter = 13;
			 var leftarrow = 37;
			 var rightarrow = 39;
			 var del = 46;
			 switch (key.keyCode) {
				 case leftarrow:
					 //asynchronously ask for next image and add it
					 //since we might have to fetch it
					 if(picview&&image_cache){
						 image_cache.prev();
					 }
					 break;
				 case rightarrow:
						//asynchronously ask for next image since
						if(picview&&image_cache){
						image_cache.next();
						}
						break;
				 case enter:
						if(picview&&image_cache){
							image_cache.jump();
						}
						break;
				 case del:
				 //delete target
					 if(!picview) {
						 $.ajax({
							 url:"{% url 'gcs-deleteTarget'%}",
							 type:"POST",
							 data: {"pk":curr},
						 });
					 }
					 break;
			 }
		 });
	}
	function setDimensions() {
		var height = window.innerHeight - $("#navbar").height() - 35;
		$("#left-panel").css("height", height + "px");
		$("#picture").css("height", height + "px");
		$("#targets").css("height", height + "px");
		// var formheight = $("#form").height();
		// $("#data").css("max-height", height-formheight + "px");
	}
	//set the focusedImage to the given image, also changing the value of curr, and initializes the canvas
	function setFocusedImage(image) {
		if (picview) {
			//save all state data
			window.sessionStorage.setItem("image_cache",JSON.stringify(image_cache)); //image array
			window.sessionStorage.setItem("curr",curr); // current pic id
			curr = parseInt(image['pk']);
			image_data = image["image"];
			document.focusedImage.src=image_data['fileName'];
			//yayyy time to mess with how the browser shows images
			// if (firstinit) {
			// 	while (firstinit) {
			// 		img = $("#focused")
			// 		img.on("load",onLoad = function() {
			// 			firstinit = false;
			// 		})
			// 		console.log(document.focusedImage.naturalWidth+" "+document.focusedImage.naturalHeight);
			// 		document.focusedImage.style.height = "auto";
			// 	}
			// 	firstinit = true;
			// 	img.off("load",onLoad)
			// }
			aspect_ratio = 4/3
			max_width = $("#picture").width();
			max_height = $("#picture").height();
			console.log("calc: "+(aspect_ratio*max_height)+max_width)
			if (aspect_ratio*max_height>=max_width) {
				// width is constraining, must be kept at 100%
				document.focusedImage.style.height = "auto"
				document.focusedImage.style.width="100%"
			}
			else {
				document.focusedImage.style.height="100%"
				document.focusedImage.style.width = "auto"
			}
			console.log("WH "+$("#focused").width()+" "+$("#focused").height())
			canvasinit();
			$("#focus-type").text("Picture Data");
			pic_curr_props = image_data;//using the string id to access the data in the map
			$("#focus-data").empty()
				.append("<tr><td>Latitude</td><td>"+pic_curr_props.lat+"</td></tr>")
				.append("<tr><td>Longitude</td><td>"+pic_curr_props.lon+"</td></tr>")
				.append("<tr><td>Altitude</td><td>"+pic_curr_props.alt+"</td></tr>")
				.append("<tr><td>Azimuth</td><td>"+pic_curr_props.azimuth+"</td></tr>")
				.append("<tr><td>Pitch</td><td>"+pic_curr_props.pitch+"</td></tr>")
				.append("<tr><td>Roll</td><td>"+pic_curr_props.roll+"</td></tr>");
				//Add orientation
			PictureArray.prototype.allow = true;
		}
		else {
			document.focusedImage.src=image.src;
			//document.focusedImage.style.width = focusedwidth+"px";
			//document.focusedImage.style.height = "auto";
			curr=parseInt(image.id);
			$("#selector").css("display","none");
			$("#focus-type").text("Target Data");
			showTargetData(image);
		}
	}
	function showTargetData(image) {
		pk = parseInt(image.id);
		$.ajax({
			url: "{% url 'gcs-getTargetData'%}",
			type: "POST",
			dataType: "json",
			data: {"pk": pk},
			success: function(json) {
				$("#focus-data").empty()
					.append("<tr><td>Color</td><td>"+json.color+"</td></tr>")
					.append("<tr><td>Letter Color</td><td>"+json.lcolor+"</td></tr>")
					.append("<tr><td>Orientation</td><td>"+json.orientation+"</td></tr>")
					.append("<tr><td>Shape</td><td>"+json.shape+"</td></tr>")
					.append("<tr><td>Letter</td><td>"+json.letter+"</td></tr>")
					.append("<tr><td>Latitude</td><td>"+json.lat+"</td></tr>")
					.append("<tr><td>Longitude</td><td>"+json.lon+"</td></tr>");
				$("#lpalette").val(json.lcolor);
				$("#palette").val(json.color);
				$("#orientation").val(json.orientation);
				$("#shape").val(json.shape);
				$("#letter").val(json.letter);
			}
		})
	}
	//sets the canvas width and height and allows it to listen for cropping
	function canvasinit() {
		var p1;
		var p2;
		var cropinit = false;
		var panning = true;
		var corner = [];
		var boxW;
		var boxH;
		var zoom = 5;
		//set canvas to image params
		var canvas = document.getElementById("selector");
		canvas.width = $("#container").width();
		canvas.height = $("#container").height();
		canvas.style.display = "block";
		var ctx = canvas.getContext("2d");

		ctx.fillStyle="rgba(210,220,255,0.6)";
		function setBox() {
			boxW = p1[0]-p2[0];
			boxH = p1[1]-p2[1];
			//finding the top left corner
			if (boxW<0) {
				corner[0] = p1[0];
				boxW = -boxW;
			}
			else {
				corner[0] = p2[0];
			}
			if (boxH<0) {
				corner[1] = p1[1];
				boxH = -boxH;
			}
			else {
				corner[1] = p2[1];
			}
			ctx.clearRect(0,0,canvas.width,canvas.height);
			ctx.fillRect(corner[0],corner[1],boxW,boxH);
		}
		function finalizeBox() {
			var transform = $("#focused").css("transform").replace("matrix(","").replace(")","").split(",");
			var scale = parseInt(transform[0]);
			var transx = parseInt(transform[4]);
			var transy = parseInt(transform[5]);
			var factor = parseInt((scale-1)/2);
			var width = $("#focused").width();
			var height = $("#focused").height()
			crop.x = parseInt((width*factor + corner[0]-transx)/scale);
			crop.y = parseInt((height*factor + corner[1]-transy)/scale);
			crop.width = parseInt(boxW/scale);
			crop.height = parseInt(boxH/scale);
			crop.scaleWidth = width;
			console.log("crop "+crop.x+" "+crop.y+" "+crop.width+" "+crop.height+" "+crop.scaleWidth+" "+height)
		}
		if (firstinit) {
			firstinit = false;
			canvas.addEventListener("dblclick", function toggle(event) {
				panning = !panning;
				cropinit = false;
				console.log("dblclick "+panning+" "+cropinit);
			});
			canvas.addEventListener("mousedown", function setP1(event) {
				if (!panning) {
					p1 = [event.layerX, event.layerY];
					cropinit = true;
				}
				//console.log("mousedown "+panning+" "+cropinit);
			});
			//so that if the user releases the mouse after it leaves the canvas, the crop completes
			canvas.addEventListener("mouseleave", function() {
				if (panning) {
					$("#focused").css("transform", "scale(1,1)");
				}
				else {
					finalizeBox();
					cropinit = false;
				}
				//console.log("mouseleave "+panning+" "+cropinit);
			});
			canvas.addEventListener("mousemove", function drawBox(event) {
				if (panning) {
					var tx = this.width/2 - event.layerX; //canvas has the same width and height as the image
					if (tx < -1*(zoom-1)*this.width/(zoom*2)) tx = -1*(zoom-1)*this.width/(zoom*2);
					if (tx > (zoom-1)*this.width/(zoom*2)) tx = (zoom-1)*this.width/(zoom*2);
					var ty = this.height/2 - event.layerY;
					if (ty < -1*(zoom-1)*this.height/(zoom*2)) ty = -1*(zoom-1)*this.height/(zoom*2);
					if (ty > (zoom-1)*this.height/(zoom*2)) ty = (zoom-1)*this.height/(zoom*2);
					$("#focused").css("transform", "scale(" + zoom + "," + zoom + ") translate("+tx+"px,"+ty+"px)");
				}
				else if (cropinit) {
					p2 = [event.layerX, event.layerY];
					setBox();
				}
				//console.log("mousemove "+panning+" "+cropinit);
			});
			canvas.addEventListener("mouseup", function finishBox(event) {
				if (cropinit) {
					p2=[event.layerX, event.layerY];
					setBox();
					finalizeBox();
					cropinit = false;
				}
				//console.log("mouseup "+panning+" "+cropinit);
			});
		}
		else {
			$("#focused").css("transform", "scale(1,1)");
			panning = true;
			cropinit = false;
		}
	}
	//clear storage on logout to avoid attempting to grab
	//a non-existant image on login
	$(function(){
			$("#logoutfm").submit(function(){
			window.sessionStorage.clear();
		});
	});
</script>
</head>

<body>

	<nav id="navbar">
		<div class="title">RU Autonomous</div>
		<div class="form">
			<form>
				<label for="time_interval">Trigger Time</label>
				<input id="time_interval" type="text" value="0"/>
				<button onclick="trigger();" class ="btn btn-primary" name="trigger_on" type="button" id="trigger_on" value="1">Start Triggering</button>
				<button onclick="dump_targets();return false;" class="btn btn-primary">Dump Target Data</button>
				<button onclick="set_smart_trigger();" class="btn btn-primary" name="smart_trigger" type="button" id="smart_trigger" value="0">Smart Trigger on</button>

			</form>
			<form method="post" id="logoutfm" action="{% url 'gcs-logout'%}?next={% url 'gcs-login'%}">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary">Logout</button>
			</form>
		</div>
	</nav>
	<div id="left-panel">
		<div id="form">
			{% csrf_token %}
			<form id="attr_form">
				<table>
					<tr>
						<th><label for="palette">Background Color</label></th>
						<td><input name="color" type="text" id="palette"/></td>
					</tr>
					<tr>
						<th><label for="lpalette">Letter Color</label></th>
						<td><input name="lcolor" type="text" id="lpalette"/></td>
					</tr>
					{{form.as_table}}
				</table>
				<button type="button" class="btn btn-primary" id="submit"/>Submit</button>
			</form>
		</div>
		<div id="data">
			<h3 id="focus-type">Picture Data</h3>
			<table id="focus-data"></table>
		</div>
	</div>


	<div id="picture">
		<div id="container">
			<canvas id="selector" style="position: absolute; z-index: 1; cursor: crosshair;"></canvas>
			<img src="" id="focused" name="focusedImage" alt="" style="position: relative; z-index: 0;">
 	</div>
	</div>
	<div id="targets"></div>

</body>


</html>

<script>
$(document).ready(function(){
	//Colors: White, Black, Gray, Red, Blue, Green, Yellow, Purple, Brown, or Orange
	$("#palette").spectrum({
		showPaletteOnly: true,
		showPalette:true,
		color: "black",
		palette: [
				["black", "white", "gray", "red", "blue"],
				["green", "yellow", "purple", "brown", "orange"]
		]
	});
});
$(document).ready(function(){
	$("#lpalette").spectrum({
		showPaletteOnly: true,
		showPalette:true,
		color: "black",
		palette: [
			["black", "white", "gray", "red", "blue"],
			["green", "yellow", "purple", "brown", "orange"]
		]
	});
});
function set_smart_trigger(){
	var smart_trigger= document.getElementById("smart_trigger")
	$("#smart_trigger").val(Math.abs(smart_trigger.value-1))
	if(smart_trigger.value==false){
		$("#smart_trigger").html("Smart Triggering On")
	}
	else {
		$("#smart_trigger").html("Smart Triggering Off")
	}
}
function trigger() {
	$.ajax({
		url:"{%url 'gcs-cameraTrigger' %}",
		type:"POST",
		dataType:"JSON",
		data:{"time":$("#time_interval").val(),"trigger":$("#trigger_on").val(),"smart_trigger":$("#smart_trigger").val()},
		success: function(json) {
			if (json.hasOwnProperty("failure")) {
				bootbox.alert("Invalid Time Interval")
				return;
			}
			if (json.hasOwnProperty("nothing")) {
				return;
			}
			var time_int = document.getElementById("time_interval");
			time_int.value=0;
			var trigger_on = document.getElementById("trigger_on");
			$("#trigger_on").val(Math.abs(trigger_on.value-1));
			if (trigger_on.value==0) {
				$("#trigger_on").html("Stop Triggering");
			}
			else {
				$("#trigger_on").html("Start Triggering");
			}
		}
	})
}

function dump_targets() {
	$.ajax({
		url:"{%url 'gcs-dumpTargetData' %}",
		type:"POST",
		success: function(response) {
			console.log(response.data);
			window.open('data:text/plain;charset=utf-8,'+encodeURIComponent(response.data))
		}
	});
}
</script>